.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1em;
  background-color: aliceblue;
  border-bottom: 2px solid black;
}
.menu-container {
  font-size: 25px;
  align-items: center;
  display: flex;

  font-weight: 600;
  gap: 1em;
}
.categories {
  font-size: 20px;
}
