* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1em;
  background-color: bisque;
}
.navbar .title {
  font-family: "Caveat", cursive;
  font-family: "Quattrocento", serif;
  font-size: 45px;
}
.menu-items,
h1 {
  margin: 0 1em;
}
.menu-items {
  display: flex;
  gap: 2em;
  align-items: center;
  font-size: 20px;
}
.icon {
  font-size: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
