.news-container {
  display: flex;
}
.image-container img {
  height: 300px;
  width: 250px;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1em;
  padding: 1em;
  font-size: 10px;
  justify-content: space-evenly;
}
.title .link {
  text-decoration: none;
  color: black;
}
.link:hover {
  text-decoration: underline;
}
.source {
  font-size: 15px;
  position: relative;
}
.title {
  font-size: 25px;
}
.author {
  font-size: 15px;
}
